# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.GMD Project - FPS Game.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\armin\GMD Project - FPS Game\.idea\.idea.GMD Project - FPS Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
